name: Build Artifacts

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  build:
    name: Build Artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Publish Release Build
        run: dotnet publish ./ReQuesty/ReQuesty.csproj --configuration Release --output ./publish

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: 'build.zip'
          path: ./publish/*
